.App {
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#root {
	height: 100%;
	width: 100%;
	--text-color-dark: black;
	--bg-color-dark: #0d0d0d;
	--text-color-light: white;
	--bg-color-light: white;
}
